node_modules/
dist/
.vite/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.dist2.zip
fonts/.DS_Store
assets/*
!assets/about_banner-KnRtJoIC.webp
!assets/alaya_1-Bo1LBDbU.webp
!assets/alaya_3-Cn5uhS0X.webp
!assets/alaya_5-CKKTb1kv.webp
!assets/alaya_8-gswDAQ7T.webp
!assets/architectural-DfTRqFf9.webp
!assets/CEO-BxGw1GYQ.webp
!assets/commercial-gBtc_WHq.webp
!assets/hero-section-DngWEFV4.mp4
!assets/house_of_lines_1-C5kdDKrW.webp
!assets/house_of_lines_2-DfN0HWTw.webp
!assets/house_of_lines_5-B03H93fX.webp
!assets/house_of_lines_7-DP3BiWzq.webp
!assets/interior-Cc-7TXwb.webp
!assets/kalyan-DtEOMrxB.webp
!assets/kishore-B9GpowXs.webp
!assets/LOGO-kriGiLxC.png
!assets/rangavalli_1-D1SfGUG2.webp
!assets/rangavalli_2-BnGGRzQq.webp
!assets/rangavalli_4-D8yP85HG.webp
!assets/rangavalli_9-CeIxg5zj.webp
!assets/taaza-DTuR6nxL.webp
!assets/taaza_2-BeyHf_7G.webp
!assets/taaza_4-B_ck054s.webp
!assets/taaza_7-DkdG4B2Y.webp
